body{
	/* background-color: white; */
	
}
h1, h2{
	font-family: Oswald;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;	
}
p, a{
	font-family: "Open Sans";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.1818180084229px;
	color: black;
}
span{
	text-decoration: none;
}
#menu{
	background-color: white;
	width: 100%;
	height: 150px;
	left: 0px;
/* 	display: block; */
	top: 0px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;		
	border-style: solid;
	border-width: 0px 0px 50px;
	-moz-border-image: url(border.png) 0 0 74 stretch;
	-webkit-border-image: url(border.png) 0 0 74 stretch;
	-o-border-image: url(border.png) 0 0 74 stretch;
	border-image: url(border.png) 0 0 74 fill stretch;
}
#menu img{
/* 	max-height: 130px; */
	max-width: 30%;
	float: left;
	position: absolute;

}
#submenu{
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0px;
	margin-bottom: 50px;
	text-align: right;
	padding-right: 20px;

}
#submenu a{
	text-decoration: none;
	padding-right: 20px;
}
#contentP{
	margin: 0 auto;
	max-width: 75%;
	padding-top: 50px;
	padding-bottom: 20px;
	overflow: hidden;
}
/********ABOUT ME********/
#headshot{
	margin-right: 3%;
}
#headshot img{
	float: left;
	max-width: 30%;
	border-radius: 20px;
}
#descriptionl{
	max-width: 65%;
	float: right;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
	text-align: justify;

}
#descriptionl p{
	line-height: 22px;
	vertical-align: center;
}
#descriptionl h1{
	font-size: 36px;
	line-height: 36px;
	  -webkit-margin-before: 0em;
}
/****************************/
#contentPP{
	margin: 0 auto;
	max-width: 100%;
	padding-bottom: 20px;
	overflow: hidden;
}
/*********************************************************/
#content{
	margin: 0 auto;
	max-width: 75%;
	padding-top: 50px;
	padding-bottom: 20px;
	overflow: hidden;
/* 	background-image: url("https://s3.amazonaws.com/images.m2i.stamen.com/20150416/watercolor_c2dXzqglD7w.jpeg");
	background-position: fixed;
	background-size: cover; */
}
#content div{
	float: left;
	height: 300px;
	width: 300px;
	margin-left: 6%;
	margin-bottom: 6%;
	border-radius: 20px;	
	background-size: cover;
 	overflow: hidden;	 
}
.image1{
	background: url("../images/MAGE/xray.jpg");
}

.image2{
	background: url("../images/RunSafe/hi65.jpg");
}

.image3{
	background: url("../images/ChargEd/coverphoto.jpg");
}

.image4{
	background: url("../images/RoomR/coverphoto.jpg");
}

.image5{
	background: url("../images/RocketsWebDev/coverphoto.jpg");
}

.image6{
	background: url("../images/Nordstrom/coverphoto.jpg");
}

span.text-content {
	background: rgba(36,130,251,0.7);
  	font-family: Oswald;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 24px;	
	color: white;
	cursor: pointer;
	display: table;
	height: 300px;
	left: 0;
	border-radius: 20px;
	top: 0;
	width: 300px;
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 30px;
	text-align: justify;
	opacity: 0;
}
.image1:hover span.text-content {
  opacity: 1;
}
.image2:hover span.text-content {
  opacity: 1;
}
.image3:hover span.text-content {
  opacity: 1;
}
.image4:hover span.text-content {
  opacity: 1;
}
.image5:hover span.text-content {
  opacity: 1;
}
.image6:hover span.text-content {
  opacity: 1;
}
/*********************************************************/


#footer2{
	text-align: center;
}
.clearL{
	clear: left;
}


